@use "/src/sass/base/variables.scss" as * ;

img {
  display: block;
  max-inline-size: 100%;

}
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: $dark;
  margin: 0;
}
.container{
  
  padding: 0 30px;
}

@media screen and (min-width:1440px){
  .container{
    padding: 0;
    margin: 0 auto;
    max-width: 1040px;
  }
}

@media screen and (min-width:1920px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1560px;
  }
}