@use "/src/sass/base/variables.scss" as *;

.etaps{
  background-color: $orange;
  margin-top: 152px;
  padding-bottom: 115px;
  &__information{
    padding-top: 115px;
    display: flex;
    column-gap:130px;
  }
  &__text{
    width: 600px;
    &-h2{
        font-weight: 700;
        font-size: 32px;
        color:$dark;
        margin: 0;
    }
    &-main{
      color:$dark;
        font-weight: 500;
        font-size: 18px;
        margin: 20px 0 0 0;
        span{
          color:$white;
        }
    }
  }

  &__registration{
    display: flex;
    align-items: center;
&-card{
  width: 220px;
  display:flex;
  flex-direction: column;
  align-items:center;
  &-img{
    width: 80px;
    height: 80px;
  }

  &-h3{
    color:$dark;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 30px 0 0 0;
  }
  &-time{
    color:$dark;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin: 0;
  }
}
    &-line{
      background-color: $white;
      width: 76px;
      height: 2px;
    }
  }

  &__button{
    
    margin: 0 auto;
    margin-top: 68px;
    background-color: $white;
    padding: 18px 55px;
    width: 250px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color:$dark;
      border: 1px solid $white;
      border-radius: 5px;

  }
}




