@use "/src/sass/base/variables.scss" as *;

.footer{
  background: url("/src/sass/img/bg.png") no-repeat center center / cover;
  position: relative;
  min-height: 100vh;
width: 100%;
  &__wrapper{
    display: flex;
    flex-direction: column;
    // height: 100%;
    justify-self: flex-end;
    padding-top: 512px;
will-change: transform, opacity;
  transform: translateY(-100%);
    // transition: transform 15s ease, opacity 3s ease;
    // &.is-visible {
    //   transform: translateY(0);
      
    // }
  //  position: absolute;
  //  top:-100%;
  //  left:50%;
  // transform: translateY( 100%);
  // bottom: 0;
  }

  &__inform{
   
    color:$white;
    text-align: center;
  &-text{
      font-weight: 700;
      font-size: 32px;
  }
  &-time{
      font-weight: 700;
      font-size: 25px;
  }
  }

  &__link{
    padding-top: 56px;
    display: flex;
      font-weight: 700;
      font-style: Bold;
      font-size: 20px;
      color:$white;
      justify-content: space-around;
      padding-bottom: 90px;
      
  }

}

.rating {
  width: 581px;
  margin:0 auto;
  border: 1px solid $orange;
  background-color: $grey-dark;
 
  
  

  .row {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    border-bottom: 1px solid $orange;
   
    &:last-child {
      border-bottom: none;
    }
    &__team{
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      padding: 10px 19px;
      font-weight: 500;
      font-size: 20px;

    }
    &__num{
      text-align: center;
      width: 72px;
      border-right: 1px solid $orange;
      padding: 10px 19px;
        font-weight: 400;
        font-size: 20px;
        color:$white;

    }
  }

     &__header {
       background-color: $orange;
        padding: 10px 29px;
        display: flex;
        justify-content: flex-start;
      &-row{
          width: 72px;
          font-weight: 400;
          
          font-size: 20px;
      }
      &-team{
        color:$dark;
        font-weight: 500;
        font-size: 20px;
        
      }
     }

  
}


@media screen and (max-width:1200px) {
  .footer{
    display: none;
  }
}