@use "/src/sass/base/variables.scss" as *;

.information{
  background: url("../img/bg.png") no-repeat center center / cover;
  height: 100%;
  margin: 13px 0 0 0;
  padding-bottom: 30px;
  
  
    &__wrapper{
      width: 50%;
    }

    &__prize{
      margin-top: 160px;
      &-icon{
        width: 190px;
        height: 60px;
      }
      &-title{
          font-weight: 700;
          font-size: 60px;
          color:$white;
         min-width: 700px;
         margin: 35px 0 0 0;
          
      }
      &-text{
        color:$white;
          font-weight: 400;
          font-size: 18px;
          margin: 25px 0 0 0;
      }
&-buttons{
  margin-top: 220px;
  display: flex;
  column-gap: 35px;
}
&-btn{
  width: 246px;
  min-height: 50px;
    padding: 15px 20px;
      border: 2px solid $orange;
      background:inherit;
      text-align: center;
      color:$white;
        font-weight: 600;
        font-size: 16px;
        transition: 0.5s;
        &:hover{
          background-color: $orange;
          cursor: pointer;

        }
        

}
    }
}

@media screen and (max-width:1200px) {
  .information {
    display: none;
  }
}