@use "/src/sass/base/variables.scss" as *;


  
  .card{
    background-color: $grey-dark;
    padding: 15px 23px 20px 23px;
    border-radius: 10px;
    margin-top: 20px;
  &:first-child{
      margin-top: 0;
    }
  
  &__header{
    padding-top: 0;
  }

  
  &__wrapper{
    display:flex;
    justify-content: space-between;

  }
  &__title{
    color:$white;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
  }
  &__text{
    display: flex;
    align-self: center;
    justify-self: center;
  }

  

  &__time{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  ul{
    margin: 0;
    padding: 0;
  }
li{
  list-style-type: none;

}
&-up{
  color:$white;
    font-weight: 400;
    font-size: 12px;
}
&-down{
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
  color: $white;
}
  }

  &__line{
    height: 1px;
    background-color: $orange;
    margin-top: 3px;
  }

    &__main{
     padding-top: 20px; 
    }
    &__icon{
      width: 25px;
      height: 25px;
      display: flex;
      column-gap: 20px;
    }

       &__information{
       justify-content: space-between;
        display: flex;
       }
       &__information-name{
        margin: 0;
        ul{
          padding: 0;
        }
       }
      &__information-li{
        list-style-type: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 35px;
         color:$white;
      }

      &__information-numbers{
        display: flex;
        flex-direction: column;
        align-self:center;
        row-gap: 3px;
      }
      &__information-cofic{
          font-weight: 700;
          font-style: Bold;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          color:$white;
          
        border: 1px solid $orange;
        padding: 5px 10px 5px 10px;
        text-align: center;
      }

      &__footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__footer-text{
          font-weight: 400;
          font-size: 10px;
          line-height: 20px;
          color:$grey;
      }
      &__footer-icon{
        width: 58px;
        height: 15px;
        display: flex;
          align-items: center;
          
      }
    }
.mobile {
  margin-top: 48px;
  margin-bottom: 72px;
  background-color: $dark;
}

@media screen and (min-width:800px) {
  .mobile{
    display: none;
  }
}